<div class="container p-5">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-6 border boder-light rounded p-5 shadow" *ngIf="formulario">
            <h6 align="center">{{tituloFormulario}}</h6>
            <hr />

            <form [formGroup]="formulario" (ngSubmit)="EnviarFormulario()">
                <div class="form-group">
                    <label>Nome</label>
                    <input type="text" class="form-control form-control-sm" formControlName="nome"
                        placeholder="Digite aqui..." />
                    <div *ngIf="formulario.get('nome').hasError('required') && formulario.get('nome').touched"
                        style="color:red">
                        O nome do Departamento é obrigatório!
                    </div>
                </div>

                <div class="form-group">
                    <label>Sigla</label>
                    <input type="text" class="form-control form-control-sm" formControlName="sigla"
                        placeholder="Até 3 dígitos" />
                    <div *ngIf="formulario.get('sigla').hasError('required') && formulario.get('sigla').touched"
                        style="color:red">
                        A sigla do Departamento é obrigatória!
                    </div>
                </div>

                <br>

                <div class="d-flex">
                    <div class="row">
                        <div class="ml-2">
                            <button type="submit" class="btn btn-sm btn-outline-secondary"
                                [disabled]="!formulario.valid">Salvar</button>
                            <span style="visibility: hidden;">&nbsp;</span>
                            <button type="button" class="btn btn-sm btn-light" (click)="Voltar()">Voltar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>